---
import "shadcn-vue/src/assets/index.css";
// import { Button } from "shadcn-vue/src/components/ui/button";
import SideMenu from "../components/SideMenu.vue";
// import AlertSample from "../components/AlertSample.vue";
// import Dashboard from "shadcn-vue/src/dashboard/Example.vue";
// import AutoForm from "shadcn-vue/src/AutoForm/Example.vue";
// import ModeToggle from "shadcn-vue/src/components/ui/ModeToggle.vue";
import RestaMenu from "shadcn-vue/src/AutoForm/RestaMenu.vue";
// import SampleSidebar from "shadcn-vue/src/AutoForm/SampleSidebar.vue";
// import Sidebar2 from "shadcn-vue/src/AutoForm/Sidebar2.vue";
// import DatePickerSample from "../components/DatePickerSample.vue";
import ToasterContainer from "../components/ToasterContainer.vue";
import ShowToast from "../components/ShowToast.vue";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<script is:inline>
			const getThemePreference = () => {
				if (
					typeof localStorage !== "undefined" &&
					localStorage.getItem("theme")
				) {
					return localStorage.getItem("theme");
				}
				return window.matchMedia("(prefers-color-scheme: dark)").matches
					? "dark"
					: "light";
			};
			const isDark = getThemePreference() === "dark";
			document.documentElement.classList[isDark ? "add" : "remove"]("dark");

			if (typeof localStorage !== "undefined") {
				const observer = new MutationObserver(() => {
					const isDark = document.documentElement.classList.contains("dark");
					localStorage.setItem("theme", isDark ? "dark" : "light");
				});
				observer.observe(document.documentElement, {
					attributes: true,
					attributeFilter: ["class"],
				});
			}
		</script>
	</head>
	<body>
		<SideMenu client:load />
		<RestaMenu client:load />

		<ShowToast client:load />

		<!-- <SampleSidebar client:load /> -->
		<!-- <Sidebar2 client:load /> -->

		<!-- <ModeToggle client:load /> -->

		<!-- <AlertSample client:load /> -->
		<!-- <Button>Hello World</Button>
		<DatePickerSample client:load /> -->
		<!-- <h1>Astro</h1>
    -->
		<!-- <Dashboard client:load /> -->
		<!-- <AutoForm client:load /> -->

		<ToasterContainer client:load />
	</body>
</html>
